.update_container{
    padding: 20px;
    background-image: radial-gradient(circle, #ffffff, #e4e8fc, #bdd5fa, #85c5f6, #12b7eb);    box-shadow: 0px 2px 5px 5px #888888;
    display: block;
    height: auto;
}
.update_section{
    margin-left: 57vh;
    margin-right: 57vh; 
}
.update_section > h2{
    color: orangered;
    font-size: 25px;
    font-weight: 600;
}
.update_button > button{
    width: 100px;
    height: 35px;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    color: blue;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.update_button > button:hover{
    transform: scale(1.2);
}